/* Fonts */

@font-face {
    font-family: 'Veneer';
    src: url('../../fonts/Veneer_Regular.ttf') format('truetype');
    font-weight: 400;
}

// Font families
@font-primary: 'Veneer', sans-serif;
@font-secondary: 'Arial', sans-serif;

// Font sizes
@font-xxs: 0.7em;
@font-xs: 0.8em;
@font-sm: 1em;
@font-md: 1.1em;
@font-lg: 1.7em;